body {
  margin: 0;
  font-family: "Serif", Georgia;
}

h1,
h2,
h3 {
  color: brown;
}


b {
  font-size: 17px;
}

hr {
  margin: 0px 15px 15px;
  /* padding: 20px; */
}

i,
.student {
  color: grey;
}

button {
  background-color: #04AA6D;
  border: none;
  height: 30px;
  align-items: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.title {
  text-align: left;

}

.container {
  align-items: center;
  width: 84%;
}

.content-1 {
  text-align: center;
}

.content-2 {
  display: flex;
  margin: 30px;
}

.content-2-left {
  width: 25%;
}

.content-2-center {
  width: 50%;
  margin-top: 10px;
  padding: 0 170px;
}

.content-2-right {
  width: 25%;
}

.content-3 {
  background-color: antiquewhite;
  padding: 20px;
}

.content-3-top,
.content-3-bottom {
  padding: 10px;
  display: flex;
}

.content-3-left,
.content-3-bottom-left {
  width: 70%;
}


.content-3-right {
  margin: 50px;

}

.content-3-bottom-right {
  width: 90%;
  margin: 50px;
}

.content-4 {

  padding: 20px;
}

.content-4-top {
  display: flex;
  padding-bottom: 20px;

}

.content-4-top-left {
  width: 20%;
}

.content-4-top-center {
  margin: 0 20px;
  width: 30%;
}

.content-4-top-right {
  margin: 0 20px;
  width: 18%;
}


.link-github {
  text-align: center;
  margin: 20px;
}



.skill {
  height: 10px;
  width: 10px;
}


.star {
  background-color: #04AA6D;
}

nav {
  float: right;
}



.text a:hover {
  letter-spacing: 6px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 240%;
  display: flex;
  justify-content: center;
  /* align-items    : center; */
  background-color: #111 !important;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

li {
  padding: 30px;
  width: 230px;
  height: 60px;
}

.menu ul li a button {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: none;
}

a {
  margin-left: 45px;
}

ul {
  margin-top: 27px;
}
.menu ul{
  margin-top: 200px;
}
.menu ul li button {
  /* background-color: black; */
  color: #fff;
  text-align: center;
  margin-left: 25px;
  font-size: 19px;
  text-align: center;
}

button {
  background-color: rgba(210, 169, 169, 0);
  padding-left: 20px;
  width: 0px;
  height: 0px;
  text-align: center;
  font-family: "Serif", Georgia;
}

.menu ul li:hover {
  background-color: brown;
}

button:hover {
  background-color: brown;
}

.navbar {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  border-bottom: solid;
  margin-bottom: 50px;
}

.profile {
  padding-top: 50px;
  text-align: center;
}

.profile h1 {
  color: #21a2a1;

}


.firstbox {
  position: relative;
  margin-bottom: 50px;
  column-count: 3;
}

.firstbox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 10px;
}

.aboutme {
  margin-left: 100px;
}

.aboutme h2 {
  color: #21a2a1;
}

.details h2 {
  color: #21a2a1;
}

.details .title {
  font-weight: 60;
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.secondbox {
  background-color: #f8ece4;
  margin-bottom: 70px;
  border-radius: 10px;
}

.secondbox .title {
  padding-top: 20px;
  text-align: center;
  color: #21a2a1;
  font-size: 20px;
}

.content {
  position: relative;
  margin-left: 40px;
  margin-right: 80px;

}

.content h2 {
  color: #21a2a1
}

.content .box {
  display: flex;
  flex-direction: row;
}

.content .box .ct {
  min-width: 300px;
}

.thirdbox .title {
  text-align: center;
  color: #21a2a1;
  font-size: 25px;
}

.box1 ul li {
  position: relative;
  display: flex;
  justify-content: space-between;

}

.progress-bar {
  position: relative;
  width: 700px;
  height: 0.7rem;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #21a2a1;
  border-radius: 5px;
}



.box1 {
  column-count: 2;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  background-color: white;
  width: 100%;
}

.inner {
  height: 100%;
  background-color: orange;
}


.cool {
  background-color: #fff;
  border: 2px solid #ccc;
  width: 300px;
  height: 7px;
}

.po {
  margin-top: 20px;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: chartreuse;
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-left: 560px;
  margin-right: 150px;
}